<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SHRestClientExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9F0FA43E1F287FA60012AAF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F0FA4521F287FA60012AAF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F0FA45D1F287FA60012AAF0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
